.container {
  display: flex;
  justify-content: center;
  margin: 50px 10px;
}

.digitContainer {
  display: flex;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.separator {
  display: flex;
  align-self: flex-end;
}
